*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Page 1 */

.page1{
    height: 500px;
    width: 100%;
    background-color: rgb(29, 27, 41);
}

/* Navbar */

nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px;
    border-radius: 10px;
}

nav ul li a:hover{
    background-color: orange;
    transition: .3s;
}

nav .nav-text{
    color: white;
    position: absolute;
    left: 3rem;
}


/* Navbar Icon */

nav .nav-icon i{
    color: white;
    position: absolute;
    right: 2rem;
    top: 1.1rem;
    font-size: 25px;
    cursor: pointer;
    display: none;
}


/* Page 1 Text */

.page1 h1{
    color: white;
    text-align: center;
    margin-top: 7rem;
    font-size: 40px;
}

.page1 p{
    color: white;
    text-align: center;
    line-height: 23px;
}

.page1-button{
   display: flex;
   justify-content: center;
   margin-top: 3rem;
}

.page1 button{
    font-size: 15px;
    padding: 10px 27px;
    color: white;
    border: 1px solid orangered;
    border-radius: 10px;
    background-color: rgb(29, 27, 41);
}

.page1 button:hover{
    background-color: orangered;
    cursor: pointer;
    transition: .3s;
    transform: scale(1.1);
}


/* Page 2 */

.page2{
    width: 100%;
    height: 400px;
    background-color: white;
}

.page2-p1{
    padding: 50px;
    font-size: 20px;
    color: rgb(175, 175, 175);
}

.page2-p1-line{
    text-decoration: line-through;
    text-decoration-color: orange;
    color: white;
}

.page2 .page2-h2{
    margin-left: 50px;
    margin-top: -2rem;
}


/* Page 2 Divs */

.page2  .page2-divs{
    display: flex;
}

/* Page 2 Div 1 */

.page2-div1-p1{
    margin-top: 2.5rem;
    margin-left: 50px;
    font-size: 18px;
    color: rgb(29, 29, 29);
}

.page2-div1 ul{
    margin-top: 40px;
    margin-left: 50px;
    color: rgb(29, 29, 29);
}

.page2 .page2-div1 ul li{
    list-style: none;
    padding: 5px;
    font-size: 17px
}

.page2 .page2-div1 i{
    color: orange;
}


/* Page 2 Div 2 */

.page2 .page2-div2-p1{
    color: rgb(29, 29, 29);
    margin-left: 40px;
    font-size: 18px;
    margin-top: 37px;
}

.page2 .page2-div2 button{
    margin-left: 40px;
    margin-top: 40px;
    font-size: 15px;
    padding: 10px 25px;
    border: 2.2px solid orangered;
    color: orangered;
    border-radius: 10px;
}

.page2 .page2-div2 button:hover{
    background-color: orangered;
    color: white;
    transition: .3s;
    transform: scale(1.1);
}


/* Page 3 */

.page3{
    width: 100%;
    height: 300px;
    background-color: white;
}

/* Page 3 Boxs */

.page3-boxs{
    display: flex;
    gap: 30px;
    justify-content: center;
}

.page3 .page3-box1, .page3-box2, .page3-box3, .page3-box4{
    height: 110px;
    width: 300px;
    background-color: white;
    border: 1px solid rgb(206, 206, 206);
}

.page3 .page3-box1:hover, .page3-box2:hover, .page3-box3:hover, .page3-box4:hover{
    border: 1px solid rgb(221, 221, 221);
    cursor: pointer;
}


/* Page 3 Box 1 */

.page3 .page3-box1{
    border: 1px solid orangered;
    background-color: orangered;
}

.page3 .page3-box1 h3{
    margin-top: 1.7rem;
    margin-left: 90px;
    color: white;
}

.page3 .page3-box1 i{
    font-size: 50px;
    margin-top: 20px;
    margin-left: 20px;
    color: white;
}



/* Page 3 Box 2 */

.page3 .page3-box2 h3{
    margin-top: 1.7rem;
    margin-left: 110px;
}

.page3 .page3-box2 i{
    font-size: 50px;
    margin-top: 20px;
    margin-left: 40px;
}

.page3 .page3-box2:hover{
    color: orangered;
    transition: .3s;
}



/* Page 3 Box 3 */

.page3 .page3-box3 h3{
    margin-top: 1.7rem;
    margin-left: 110px;
}

.page3 .page3-box3 i{
    font-size: 50px;
    margin-top: 20px;
    margin-left: 40px;
}

.page3 .page3-box3:hover{
    color: orangered;
    transition: .3s;
}



/* Page 3 Box 4 */

.page3 .page3-box4 h3{
    margin-top: 1.7rem;
    margin-left: 110px;
}

.page3 .page3-box4 i{
    font-size: 50px;
    margin-top: 20px;
    margin-left: 40px;
}

.page3 .page3-box4:hover{
    color: orangered;
    transition: .3s;
}




/* Page 4 */


















/* Responsive */

@media screen and (max-width: 768px){
    nav ul{
        display: none;
    }
    
    nav{
        height: 40px;
    }

    nav .nav-icon i{
        display: block;
    }

    .page2-divs{
        flex-direction: column;
    }

    .page3-box1 h3, .page3-box2 h3, .page3-box3 h3, .page3-box4 h3{
        display: none;
    }

    .page3-box1 i, .page3-box2 i, .page3-box3 i, .page3-box4 i{
        position: relative;
    }
}
